* {
    margin: 0;
    padding: 0;
}

.users {
    width: 100%;
    max-width: 50vw;
    margin: 0 auto;
    border-collapse: collapse;
}
.users td, .users th {
    border: 1px solid #ddd;
    padding: .5rem;
    width: 50%;
}

.users tr:nth-child(even){background-color: #f2f2f2;}

.users tr:hover {background-color: #ddd;}

.users th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: forestgreen;
    color: white;
}

ul.pagination {
    list-style: none;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    gap: .5rem;
    margin: 1rem auto;
}

ul.pagination li a {
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 1rem;
    width: 1rem;
    padding: .5rem;
    font-weight: 600;
    background: silver;
    color: black;
}
ul.pagination li a:hover {
    background: lightgreen;
}
ul.pagination li a.active {
    background: forestgreen;
    color: white;
}